$primary: rgb(65, 129, 178);
$secondary: #ffffff;
$complementary: #a6a6a6;
$background: #f3f6f9;
$black: ($primary - 60);
$important: #d3434b;


* {
    font-family: Avenir ,Helvetica, Arial, sans-serif;
}
html{
    background-color: $background;
  color: #111111
}

.calendarSvg{
    height: 160px;
}


.logo{
    padding-right: 10px;
    padding-left: 5vw;
    height: 90px;
}

.map{
    height: 100%;
    min-height: 250px;
}

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.modal{
    border: 2px solid #303C6C;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: auto;
    width: fit-content;
    h1{
        margin: 0;
        font-size: 30px;
        color: #111111
    }
    h2{
        margin: 0;
        font-size: 18px;
        color: $complementary
    }
    button{
        margin: 3px;
        padding: 10px;
        font-size: 16px;
        height: fit-content;
        width: fit-content;
        color: white;
        background-color: $important;
        border-bottom: 2px solid $important - 50;
        border-right: 2px solid $important - 50;
        border-top: 2px solid $important + 50;
        border-left: 2px solid $important + 50;
    }
}
.modal:focus{
    outline: none;
}

.modalButton{
  background-color: rgba(255,255,255,0);
  width: 100%;
  height: 100%;
  h4 {
    margin-top: 5px;
  }
}
.modalButton:hover{
  background-color: rgba(65, 129, 178, .4);
  transition: 250ms;
}

.nextDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    h2{
        color: $important;
        margin-bottom: 10px;
    }
    h4 {
      margin-bottom: 0;
    }
}

.contact{
  h2{
    text-decoration: underline;
  }
  h3 {
    text-align: center;
    text-decoration: none;
  }
  h4{
    margin-top: 0;
  }
  p{
    margin-top: 0;
    text-align: center;
  }
}

.menu-modal{
  div{
    background-color: rgba(62, 62, 62, 0.69);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 80%;
    width: 80%;
  }

}