$primary: rgb(65, 129, 178);
$secondary: #ffffff;
$complementary: #a6a6a6;
$background: #f3f6f9;
$black: ($primary - 60);
$important: #d3434b;


* {
    font-family: Avenir ,Helvetica, Arial, sans-serif;
}
html{
    background-color: $background;
  color: #111111
}

.calendarSvg{
    height: 160px;
}

.footer{
    margin-top: 25px;
    height: 100px;
    background-color: $primary;
    border: 1px solid $primary - 20;
    border-bottom: none;
    border-radius: 3px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    .copyright{
        font-size: 13px;
        font-weight: 200;
        text-align: start;
        width: 100%;
        p{
            margin: 0;
            padding-left: 5px;
            padding-bottom: 5px;
        }
    }
    .links{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width : 100%;
      height: 100%;
      margin-top: 5px;

      .socialIcon{
        height: 35px;
      }

      a{
          font-size: 23px;
          font-weight: 900;
          color: white;
          text-decoration: none;
      }


    }
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: $primary;
    border: 2px solid $primary - 20;
    border-top: none;
    h2{
        text-shadow: 1px 1px 0 $primary - 60;
        padding-left: 18px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    h3{
        text-shadow: 1px 1px 1px $primary - 40;
        padding-left: 18px;
        margin-top: 5px;
        margin-bottom: 20px
    }

}

.logo{
    padding-right: 10px;
    padding-left: 5vw;
    height: 90px;
}

.map{
    height: 100%;
    min-height: 250px;
}


.menu{
    border: 1px solid $complementary;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 503px;
    min-height: 335px;
    min-width: 111px;
    .menuOption{
      height: 100%;
      background-color: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
      transition: 300ms;
    }
    .menuOption:hover{
      color: $primary + 30;
      font-weight: bolder;
      cursor: pointer;
      transition: 100ms;
    }
    .is-active{
        margin-right: 8px;
        padding-left: 8px;
        font-weight: bolder;
        text-decoration: none;
        color: $primary;
        transition: 100ms;
    }
}

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.modal{
    border: 2px solid #303C6C;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: auto;
    width: fit-content;
    h1{
        margin: 0;
        font-size: 30px;
        color: #111111
    }
    h2{
        margin: 0;
        font-size: 18px;
        color: $complementary
    }
    button{
        margin: 3px;
        padding: 10px;
        font-size: 16px;
        height: fit-content;
        width: fit-content;
        color: white;
        background-color: $important;
        border-bottom: 2px solid $important - 50;
        border-right: 2px solid $important - 50;
        border-top: 2px solid $important + 50;
        border-left: 2px solid $important + 50;
    }
}
.modal:focus{
    outline: none;
}

.modalButton{
  background-color: rgba(255,255,255,0);
  width: 100%;
  height: 100%;
  h4 {
    margin-top: 5px;
  }
}
.modalButton:hover{
  background-color: rgba(65, 129, 178, .4);
  transition: 250ms;
}

.nextDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    h2{
        color: $important;
        margin-bottom: 10px;
    }
    h4 {
      margin-bottom: 0;
    }
}

.mobile-menu{
  background-color: grey;
  width: 100%;
  height: 50px;
  img{
    height: 25px;
  }
}

.menu-modal{
  background-color: rgba(62, 62, 62, 0.69);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 80%;
}